<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAcxCIzpxv1jqhhF_mzf6uwmZAT2P6u-dc</string>
	<key>GCM_SENDER_ID</key>
	<string>60414611591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>myronishyn.ihor.Permit</string>
	<key>PROJECT_ID</key>
	<string>permit-c2d1d</string>
	<key>STORAGE_BUCKET</key>
	<string>permit-c2d1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60414611591:ios:a00b7e01d29a8d57746822</string>
</dict>
</plist>